        <h1>Eliminar Producto con el ID</h1>

        <input type="text" id="ell2">
        <button id="ell">Enviar</button>
        <p></p>

        <h1>Lista de Productos</h1>
        <h3 id="lista"></h3>

        <h1>Ingrese Producto en Formato JSON</h1>
        <input type="text" id="botAdd2">
        <button id="botAdd">Enviar</button>